.cabecalho{

    background-color: rgb(17, 207, 17);
}


body { 

    background-color: #ffffff;
    font-family:'Cardo', serif;
    overflow-x: hidden;
 }

.formulario{
    width: 40vw;
    height: 60vh;
    color: #ffffff;
    font-weight: 700; /*negrito*/
    padding: 70px 0px 30px 0px;
    /*altura  , direita, baixo , esquerda*/
    background-color: rgb(17, 207, 17);
    border-radius: 200px; /*aredondar bordas*/
    font-size: 24px; /*tamanho da letra*/
}
.formulario .labAutent{
    padding: 0px 0px 0px 20px;
}

.formulario .Text{
    
    font-size: 20px;
    color:rgb(19, 119, 19);
    font-weight: bold;/*negrito*/
    padding: 5px;/*espaçamento do text para a borda*/
    border-color: #05cc20;
}

.formulario .botao{

    padding: 15px;/*espaçamento do text para a borda*/
    font-size: 20px;
    cursor: pointer;/*maosinha ao se aprosimar do botao*/
    font-weight: bold;/*negrito*/
    border-radius: 10px; /*aredondar bordas*/
    background-color:#ffffff;
    color: rgb(19, 119, 19);
    border: none;
}
.formulario .botao:hover{

    transform: scale(1.4);
    transition: 0.7s all ease-in-out;/*animação sinha*/
}